html, body {
    height: 100%;
}

#header {
    height: 200px;
    width: 100%;
}

#header-banner {
    background-image: url("images/MTLCrowdshot1.JPG");
    background-size: cover;
}

#header-navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#header-navbar > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#navbar-itemlist :hover {
    background-color: lightblue;
}